html, body {
    height: 100vh;
    min-height: 100% !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background:#EFEBEC;
    color:#333;
    display: flex;
    justify-content: center;
    margin:0;
    font-family: 'Noto Sans KR';
    overflow: hidden;
}

body > div#vailForStartAnmiate{
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1000;
    background:red;
    cursor: pointer;
}

body > div.container{
    width:80%;
    height: 969px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#nametagImgContainer{
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
}

#nameTagImg{
    width:80%;
    left: calc(50% - 105px);
    position: absolute;
}

#keywordContainer{
    height: 500px;
    width: 1000px;
    opacity: 0;
    position: absolute;
    left: calc(49% - 500px);
    top: 8%;
}

#keywordContainer div.keyword{
    height: 200px;
    width: 180px;
    position: absolute;
    left: 150px;
    top: 78px;
}

#keywordContainer div.keyword:nth-child(2){
    left: 610px;
    top: 40px;
}

#keywordContainer div.keyword:nth-child(3){
    left: 610px;
    top: 230px;
}

#keywordContainer div.keyword div.keywordLine{
    height: 3px;
    border-radius: 5px;
    width: 50px;
    position: absolute;
    right: 0;
    bottom: 40px;
    transform: rotate(25deg);
}

#keywordContainer div.keyword:nth-child(1) div.keywordLine{
    background: #B1C7CA;
}

#keywordContainer div.keyword:nth-child(2) div.keywordLine{
    transform: rotate(-200deg);
    background: #CECACB;
}

#keywordContainer div.keyword:nth-child(3) div.keywordLine{
    transform: rotate(-160deg);
    background: #BC997D;
}

#keywordContainer div.keyword div.keywordCircle{
    width:180px;
    height: 180px;
    position: absolute;
    border-radius: 100%;
    right: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    overflow: visible !important;
}

#keywordContainer div.keyword:nth-child(1) div.keywordCircle{
    background: #B1C7CA;
}

#keywordContainer div.keyword:nth-child(2) div.keywordCircle{
    background: #CECACB;
    right:-200px;
}

#keywordContainer div.keyword:nth-child(3) div.keywordCircle{
    background: #BC997D;
    right:-200px;
    top: 100px;
}

#keywordContainer div.keyword div.keywordCircle h2.keywordTitle{
    margin:0;
    height: auto;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
}

#titleContainer{
    position: absolute;
    text-align: center;
    margin: 0;
    opacity: 0;
    top:75%;
    font-size: 18px;
}

#titleContainer h1{
    margin: 0;
    margin-top: 10px;
}

#titleContainer p{
    margin: 0;
    margin-top: 5px;
}

#menuContainer{
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    bottom: 10%;
}

#menuContainer ul{
    display: flex;
    list-style: none;
    width: 1100px;
    padding: 0;
    justify-content: space-evenly;
    padding-right: 90px;
}

#menuContainer li{
    font-size: 18px;
    cursor: pointer;
}

#menuContainer li div{
    position: absolute;
    top:0;
    width: 90px;
    height: 29px;
    text-align: center;
    border-radius: 5px;
}

#menuContainer li.active div{
    background: #8C9EA8;
}


#menuContainer li div p{
    margin:0;
}

#menuContainer li.active div p{
    color: #fff;
}

@media screen and (max-width:767px) {
    body > div.container{
        width:100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    div#nametagImgContainer{
        width: 90%;
        position: absolute;
        left: -3%;
        bottom: calc(95% + 160px);
    }

    #keywordContainer{
        height: 30%;
        width: 100%;
        opacity: 0;
        left: 0;
        top: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #keywordContainer div.keyword{
        height: 33%;
        width: 100%;
        left: 0;
        top: 0;
        padding: 5% 0;
    }

    #keywordContainer div.keyword:nth-child(2){
        left: 0px;
        top: 33%;
    }
    
    #keywordContainer div.keyword:nth-child(3){
        left: 0px;
        top: 66%;
    }

    #keywordContainer div.keyword div.keywordLine{
        display:none;
    }
    
    #keywordContainer div.keyword div.keywordCircle{
        width:90%;
        height: 60%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        cursor: pointer;
        overflow: visible !important;
    }
    
    #keywordContainer div.keyword:nth-child(1) div.keywordCircle{
        background: #B1C7CA;
    }
    
    #keywordContainer div.keyword:nth-child(2) div.keywordCircle{
        background: #CECACB;
        right:0px;
    }
    
    #keywordContainer div.keyword:nth-child(3) div.keywordCircle{
        background: #BC997D;
        right:0px;
        top: 0px;
    }

}